
<div class='container-fluid d-flex justify-content-center'>
	<!-- <img src="assets/images/Error/boat.jpg"> -->
	<img src="assets/images/AuthHome/backdrop.png">
	<div class='overlay'></div>

	<div class='row w-100 justify-content-center align-items-center errorcontainer'>
		
		<div class='col-lg-6 col-xl-5 d-flex flex-column align-items-center'>
			
			<p class='m-0 heading text-muted'>404</p>
			<span class='text-description text-muted text-center'>Oops, this page could not be found</span>
			<hr style='color:#000; width:75%'/>
			<span class='text-muted mb-2 text-center' style='position:relative;top:-7px'>We are sorry, the page you are looking for does not exist</span>

			<a routerLink='/' class='btn btn-secondary' style="color:#fff">Go to Home</a>
		</div>
	</div>
</div>