
<div class='row my-2'>
	
	<div class='col-12 py-4 px-4 heading'>
		Monthly Expenses
	</div>
</div>

<div class='row'>
	
	<div class='col-12 px-4 py-4 main'>
		
		<form class='form-inline' [formGroup]='monthForm' (ngSubmit)='submit(monthForm)'>
			
			<input formControlName='month' class='form-control form-control-sm mr-3'>
			<button type='submit' class='btn btn-danger btn-sm'>Fetch</button>
		</form>

		<table class='table table-borderless' *ngIf=''>
			<thead>
				<th>Name</th>
				<th>Amount</th>
				<th>Time</th>
			</thead>
			<tbody>
				<tr *ngFor='let expense of expenses'>
					<td>{{ expense.name }}</td>
					<td>{{ expense.amount }}</td>
					<td>{{ expense.created_at }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
