
.heading
{
	font-family: 'Raleway', sans-serif;
	background:#fff;
	border:1px solid rgba(0,0,0,0.1);
	font-size:1.2em;
}

.main
{
	border:1px solid rgba(0,0,0,0.1);
	background:#fff;
}

button
{
	font-family:'Raleway', sans-serif;
	font-size:0.85em;
}

thead
{
	background:url('../../../assets/Images/AuthHome/backdrop.png');
}

.details
{	
	font-family: 'Quicksand', sans-serif;
	font-size:0.9em;
}

th
{
	font-family:'Raleway', sans-serif;
	font-size:0.9em;
}

td
{
	font-family:'Quicksand', sans-serif;
	font-size:0.86em;
	width:33.3%;
}