
<div class='row my-2'>
	
	<div class='col-12 py-4 px-4 heading'>
		Monthly Expenses
	</div>
</div>

<div class='row'>
	
	<div class='col-12 px-4 py-4 main'>
		
		<form class='form-inline' [formGroup]='monthForm' (ngSubmit)='submit(monthForm)'>
			
			<select formControlName='month' class='custom-select mb-3 mb-sm-0 form-control-sm mr-0 mr-sm-3'>
				<option>January</option>
				<option>February</option>
				<option>March</option>
				<option>April</option>
				<option>May</option>
				<option>June</option>
				<option>July</option>
				<option>August</option>
				<option>September</option>
				<option>October</option>
				<option>November</option>
				<option>December</option>
			</select>

			<select formControlName='year' class='custom-select mb-3 mb-sm-0 mr-0 mr-sm-3'>
				<option>2019</option>
			</select>
			<button type='submit' class='btn btn-danger btn-sm'>Fetch</button>
		</form>

		<div *ngIf='fetchedData && !isCurrentMonth()' class='col-12 pl-2 details pt-4'>

			<p class='m-0 mb-1'>Initial Total Income of N {{ monthIncome.original_amount | number }} </p>
			<p class='m-0 mb-1'>{{ getSavingsStatement() }}</p>
			<p>Final Income of N {{ monthIncome.final_amount | number }}</p>

			{{ getPurchaseDetails() }}
		</div>

		<div *ngIf='fetchedData && isCurrentMonth()' class='col-12 pl-2 details pt-4'>

			<p class='m-0 mb-1'>Initial Total Income of N {{ monthIncome.original_amount | number}} </p>
			<p class='m-0 mb-1'>{{ getSavingsStatement() }}</p>
			<p>Current Income of N {{ monthIncome.final_amount | number }}</p>

			{{ getPurchaseDetails() }}
		</div>

		<table class='table table-borderless mt-3 py-' *ngIf='purchases.length > 0'>
			<thead>
				<th>Name</th>
				<th>Amount</th>
				<th>Time</th>
			</thead>
			<tbody>
				<tr *ngFor='let purchase of purchases'>
					<td>{{ purchase.name }}</td>
					<td>{{ purchase.amount }}</td>
					<td>{{ purchase.time }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
