
.heading
{
	font-family: 'Raleway', sans-serif;
	background:#fff;
	border:1px solid rgba(0,0,0,0.1);
	font-size:1.2em;
}


.main
{
	border:1px solid rgba(0,0,0,0.1);
	background:#fff;
}

button
{
	font-family:'Raleway', sans-serif;
	font-size:0.85em;
}


.form-group
{
	position:relative;
}

.input-group-append
{
	margin-top:1px;
	position:absolute;
	top:24px;
	left:calc(100% - 33px);
	border-radius:0 .2rem .2rem 0;
	cursor:pointer;
}

label
{
	font-family:'Quicksand', sans-serif;
	font-size:0.9em;
}

.btn.btn-danger
{
	position:relative;
	top:13px;	
	font-family:'Raleway', sans-serif;
	font-size:0.85em;
}

