 
<nav class='navbar navbar-expand-md py-3 px-5'>
	<a routerLink='/dashboard' class='navbar-brand mr-auto'>Thrift</a>

	<div class='search-info-container d-flex align-items-center'>
		<input type="" name="" class='form-control form-control-sm mr-2'>
		<img src="assets/images/AuthHome/search.svg" width='16px' height='16px' class='search-icon'>

		<div class='user-details d-flex'>
			<img src="http://localhost/Images/Users/leke.JPG" class='mr-1' width='38px' height='38px'>
			<!-- <p class='m-0 small'>Fambegbe Olam...</p> -->
		</div>
	</div>
</nav>