@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

nav
{
	background:#fff;
	border:1px solid rgba(0,0,0,0.1);
}

img
{
	object-fit: cover;
}

.navbar-brand
{
	font-family:'Gloria Hallelujah', cursive;
	font-size:1.5em;
	color:#C21807 !important;
}


.fa-caret-down
{
	color:rgba(0,0,0,0.4);
}


.navbar-toggler
{
	border:none !important;
}

.name
{
	position:relative;
	font-size:0.9em;
	font-family:'Raleway', sans-serif;
	width:100px;
}

.navbar-nav a
{
	font-family:'Raleway', sans-serif;
	font-size:0.9em;
	cursor:pointer;
}

.nav-link
{
	font-size:0.85em !important;
}

.nav-link:hover
{
	color:rgba(0,0,0,0.5) !important;
}

.nav-link.active
{
	color:rgba(217, 83, 79,0.7) !important;
	font-size:0.875em !important;
}

.dropdown-item
{
	font-size:0.8em !important;
	font-family:'Quicksand', sans-serif !important;
}

input
{
	background:rgba(0,0,0,0.06);
	padding-left:35px;
	box-sizing: border-box;
	border-radius:15px;
	font-family:'Quicksand', sans-serif;
	font-size:0.8em;
}

.nav-item
{
	position:relative;
}

.search-info-container
{
	position:relative;
}

.search-icon
{
	position:absolute;
	top:12px;
	left:12px;
	cursor:pointer;
}

.responsive-search-container
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10;
	background:#fff;
}

.responsive-search-container input
{
	border-radius:4px;
	width:400px;
}


.responsive-search-container .search-icon { top:33px; left:calc(((100% -
400px)/2 + 12px)); }

.user-details
{
	position:relative;
	cursor:pointer;
}


img
{
	border-radius:50%;
}

.options
{
	position:absolute;
	top:calc(100% + 27px);
	left:calc((100% - 110px)/2);
	background:#fff;
	z-index:-10;
	border:1px solid rgba(0,0,0,0.1);
	border-radius:4px;
	opacity:0;
	transition:all 0.3s ease-in;
}

.options.show
{
	top:calc(100% + 20px);
	opacity:1;
	z-index:1;
}

.options a
{
	color:rgba(0,0,0,0.7);
	font-family:'Quicksand', sans-serif;
	font-size:0.85em;
	text-decoration: none;
}

.options li:hover
{
	background:rgba(0,0,0,0.06);
}


.nav-item
{
	font-size:1em !important;
	/*border-top:1px solid rgba(0,0,0,0.03);*/
	text-transform: uppercase;
	font-weight:bold;
}

.dropdown-menu
{
	border:none !important;
}

.navbar-content
{
	position:absolute;
	top:100%;
	z-index:999;
	background:rgba(255,255,255,0.95);
	border-top:1px solid rgba(0,0,0,0.02);
	border-bottom:1px solid rgba(0,0,0,0.17);
}

@media(max-width:991px)
{
	nav
	{
		padding-left:10px;
		padding-right:10px;
	}
}


@media(max-width:414px)
{
	.responsive-search-container input
	{
		left:10%;
		width:80%;
	}


	.responsive-search-container .search-icon
	{
		left:calc(10% + 12px);
	}
}
