

<div class="modal fade show" tabindex="-1" role="dialog" style='display:block'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Your Display Picture</h5>
        <button type="button" class="close" (click)='emitClose()' aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column align-items-center">
      	
      	<img src="assets/images/ImageUpload/upload.svg" width='70px' height='70px'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-transparent text-muted btn-sm" (click)='emitClose()'>Close</button>
      </div>
    </div>
  </div>
</div>