@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');	

a
{
	text-decoration: none;
}

.brand-name
{
	font-family:'Gloria Hallelujah', cursive;
	font-size:1.6em;
	color:#fff;
}

.signup-button-top
{
	position:relative;
	top:7px;
	padding:6px 8px;
	border:1px solid #F9A602;
	border-radius:4px;
	font-family:'Quicksand', sans-serif;
	transition:background 0.5s ease-out;
	font-size:0.9em;
	color:#fff;
}

.signup-button-top:hover
{
	background:#F9A602;
}


.container-fluid
{
	position:absolute;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
}

img
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit: cover;
}

.overlay
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.login-body-parent
{
	position:relative;
	top:8vh;
	left:15px;
}

.form-body
{
	background:#fff;
	border-radius:3px 0 0 3px;
	padding-bottom:10vh !important;
}

.transparent-layer
{
	background:rgba(0,0,0,0.06);
	width:100%;
	border-radius:0 3px 3px 0;
}

.heading
{
	font-family:'Raleway', sans-serif;
	margin-bottom:7px;
	font-size:1.5em;
	color:rgba(0,0,0,0.65);
}

.heading + p
{
	height:2px;
	width:30px;
	background:orange;
}

.divider
{	
	position:relative;
	top:-2px;
	width:0;
	/*animation:lengthen 1.3s both ease-out;*/
	/*transition:width 1s linear;*/
}

@keyframes lengthen
{
	from
	{
		width:0%;
	}

	to
	{
		width:30px;
	}
}

.form-group
{
	position:relative;
}

label
{
	font-family:'Quicksand', sans-serif;
	font-size:0.9em;
}

input
{
	border:1px solid rgba(0,0,0,0.2);
	padding:7px 0;
	padding-left:13px;
	font-size:0.8em;
	font-family:'Raleway', sans-serif;
}

.far,.fa
{
	position:absolute;
	top:40px;
	left:10px;
}

.eye
{
	left:89%;
	cursor:pointer;
}

.login-button
{
	background:#EA3C53;
	border:none;
	outline:none;
	padding:6px 8px;
	color:#fff;
	box-shadow:0px 5px 15px rgba(0,0,0,0.3);
	cursor:pointer;
	border-radius:4px;
}

.login-body button
{
	font-family:'Raleway', sans-serif;
	font-size:0.9em;
}

.signup-button
{	
	position:relative;
	top:1px;
	background:none;
	border:1px solid #ED2939;
	outline:none;	
	padding:6px 8px;
	color:#000;
	font-size:0.8em;
	font-family:'Quicksand', sans-serif;
	box-sizing: border-box;
}

@media(max-widt:576px)
{
	.brand-name, .signup-button-top
	{
		position:relative;
		left:-15px !important;
	}
}