@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.container-fluid
{
	position:absolute;
	top:0;
	left:0;
	height:100vh;
	background:url('../../../assets/images/PasswordReset/concrete-wall.png');
}


a
{
	color:#fff;
	text-decoration:none;
}


form
{
	background:rgba(0,0,0,0.25);
	color:#fff;
	height:400px;
	width:100%;
	border-radius:3px;
}


.brand-name
{
	font-family:'Gloria Hallelujah', cursive;
	font-size:1.7em;
}

.brand-name + p
{
	font-family:'Quicksand', sans-serif;
}

input
{
	border:1px solid rgba(0,0,0,0.06);
	outline:none;
	padding:7px;
	font-family:'Raleway', sans-serif;
	font-size:0.8em;
	border-radius:3px;
}

.links
{
	font-family:'Poppins', sans-serif;
	font-size:0.9em;
}

.submit-btn
{
	background:url('../../../assets/images/PasswordReset/green_cup.png');
}


button
{
	font-family:'Quicksand', sans-serif;
}