
<ul class='list-unstyled'>
	<li></li>
	<li class='d-flex align-items-center' [class.active]='tabs.dashboard'>
		<img src='assets/images/Sidebar/dashboard.svg' class='mr-3'>
		 <a routerLink="/dashboard" (click)="toggleTab('dashboard')">Dashboard</a>
	</li>
	<li #expenseParent [class.active]='tabs.spending'>
		<div class='d-flex align-items-center'>
			<img src='assets/images/Sidebar/spending.svg' class='mr-3'> 
			<a (click)="toggleLinks('spending')">View Spending</a>
			<img src="assets/images/Sidebar/right-arrow.svg" class='arrow' #expenseArrow>
		</div>

		<div class='alt-links' #expenselinks>
			<a routerLink='/dailyExpenses' (click)="toggleTab('dailyExpenses')" class='mb-1'>Daily</a>
			<a routerLink='/monthlyExpenses' (click)="toggleTab('monthlyExpenses')">Monthly</a>
		</div>
	</li>
	<li #analysisParent [class.active]='tabs.analysis'>
		<div class='d-flex align-items-center'>
			<img src='assets/images/Sidebar/analysis.svg' class='mr-3'>
		 	<a routerLink="/analysis" (click)="toggleLinks('analysis')">Analysis</a>
			<img src="assets/images/Sidebar/right-arrow.svg" class='arrow' #analysisArrow>
		</div>

		<div class='alt-links' #analysislinks>
			<a routerLink='/singlePeriod' (click)="toggleTab('singlePeriod')" class='mb-1'>Single Period</a>
			<a routerLink='/comparison' (click)="toggleTab('comparison')">Comparison</a>
		</div>
	</li>
	<li class='d-flex align-items-center' [class.active]='tabs.reports'>
		<img src='assets/images/Sidebar/report.svg' class='mr-3'> 
		<a routerLink="/reports" (click)="toggleTab('reports')">Report Generation</a>
	</li>
	<li class='d-flex align-items-center' [class.active]='tabs.history'>
		<img src='assets/images/Sidebar/history.svg' class='mr-3'> 
		<a routerLink="/history" (click)="toggleTab('history')">View History</a>
	</li>
	<li></li>
</ul>