
<div class='row my-2'>
	
	<div class='col-12 py-4 px-4 heading'>
		Daily Expenses
	</div>
</div>

<div class='row mb-4'>
	
	<div class='col-12 px-4 pt-4 pb-3 main'>
		
		<form class='form-inline' [formGroup]='dateForm' (ngSubmit)='submit(dateForm)'>
			
			<input formControlName='day' ngx-mydatepicker [options]="myOptions" #day="ngx-mydatepicker" class='form-control form-control-sm mr-0'>
			 <div class="input-group-append">
		        <button class='bg-transparent border border-none py-1' (click)="day.toggleCalendar()" type="button">
		        	<img src='assets/images/Expenses/calendar.svg' width='20px' height='20px'/>
		        </button>
		      </div>
			<button type='submit' class='btn btn-danger btn-sm mt-2 mt-sm-0'>Fetch</button>
		</form>

		<div *ngIf='fetchedData' class='col-12 pl-2 details pt-4'>
			{{ getPurchaseDetails() }}
		</div>

		<table class='table table-borderless mt-3 py-0' *ngIf='purchases.length > 0'>

			<thead>
				<th>Name</th>
				<th>Amount</th>
				<th>Time</th>
			</thead>
			<tbody>
				<tr *ngFor='let purchase of purchases'>
					<td>{{ purchase.name }}</td>
					<td>{{ purchase.amount }}</td>
					<td>{{ purchase.time }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>